<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina principal</title>
<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<header>
		<img src="img/perro_header.jpg" alt="un perro" title="">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="consejos.html">Consejos</a></li>
			<li><a href="servicios.html">Servicios</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<div class="conteiner">
		<section>
			<article></article>
			<article></article>
		</section>
		
		<aside>
		
		</aside>
	</div>
	
	
	
	<footer>
	a
	</footer>
</body>
</html>